<!--<standard-msg controller-name="UsersMessageController"></standard-msg>

 User edit profile
<div class="container-fluid" data-ng-if="_authenticated()" data-ng-controller="UsersEditAccountController">  
        <form ng-submit="update()" name="AccountForm" >
            <div class="form-group">
                <label for="name" class=" control-label">First Name</label>
                <input required id="name" type="text" name="name" placeholder="First name" value="{{user.name}}" class="form-control" ng-model="user.name"/>
            </div>
            <div class="form-group">
                <label for="name" class=" control-label">Last Name</label>
                <input required id="name" type="text" name="name" placeholder="Last name" value="{{user.last}}" class="form-control" ng-model="user.last"/>
            </div>
            <div class="form-group">
                <label for="username" class=" control-label">Username</label>
                <input required id="username" type="text" name="username" placeholder="Username" class="form-control" ng-model="user.username"/>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="email" class=" control-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-at"></i></span>
                        <input required id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button data-ng-disabled="AccountForm.$invalid" type="submit" class="btn btn-custom submit_button">Save</button>
            </div>
            To change your password please follow the instructions <a href="forgot">HERE</a>.
         </form>
        </div>

-->
