@keyframes fadeIn
{
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fadeIn 
{
  from { opacity: 0.0 }
  to { opacity: 1.0 }
}

.fade-in
{ 
  animation: fadeIn 0.5s 1;
  -webkit-animation: fadeIn 0.5s 1;
}

.view-animate-container {
  position:relative;
  height:40px;
  overflow:hidden;
}

.view-animate {
  padding:0px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {

  left:100%;
}
.view-animate.ng-enter.ng-enter-active {

  left:0;
}
.view-animate.ng-leave.ng-leave-active {

  left:-100%;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.fader {    
    position: relative;
/*    top: 0;
    left: 0;
    right: 0;*/
    height: 100%;
    opacity: 1;
}
.fader.ng-enter,
.fader.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fader.ng-enter {
    opacity: 0;
}
.fader.ng-enter-active {
    opacity: 1;
}
.fader.ng-leave {
    opacity: 0;
}
.fader.ng-leave-active {
    opacity: 0;
}


.swipey div:nth-child(2) {
	-webkit-animation: wipe 6s infinite;
	-webkit-animation-delay: 3s;
	-webkit-animation-direction: alternate;
	-webkit-mask-size: 2000px 2000px;
	-webkit-mask-image: -webkit-gradient(linear, left top, right bottom, 
			color-stop(0.00,  rgba(0,0,0,1)),
			color-stop(0.45,  rgba(0,0,0,1)),
			color-stop(0.50,  rgba(0,0,0,0)),
			color-stop(0.55,  rgba(0,0,0,0)),
			color-stop(1.00,  rgba(0,0,0,0)));
}

